{%- comment -%}
  ----------------------------------------------------------------------------------------------------------------------
  CUSTOM PAYPAL ON-SITE MESSAGING MODAL COMPONENET CREATED BY MIK
  ----------------------------------------------------------------------------------------------------------------------
  ********************************************
  Supported variables
  ********************************************

  * variant_price: product.
  * content: the textual content to use
  * text_alignment: can be "start" or "center" (default to start)
{%- endcomment -%}

{{ 'paypal-osm-modal.css' | asset_url | stylesheet_tag }}

<div class="pp-modal-container" id="pp-modal-container">
  <div class="pp-modal__wrapper">
    <div id="pp-modal" class="pp-modal" role="dialog" aria-modal="true">
      <div
        aria-hidden="true"
        class="pp-modal__header-background"
      >
        <div
          class="pp-modal__header-bg-gradient"
        ></div>
      </div>
      <div class="pp-modal__header-icons">
        <div class="pp-modal__logo-wrapper">
          <div class="pp-modal__logo" alt="PayPal">
            <svg
              class="pp-modal__logo-pp"
              viewBox="0 0 258 258"
              fill="none"
            >
              <path
                d="M190.709 84.0373C191.182 59.4578 170.902 40.5938 143.016 40.5938H85.3376C83.9939 40.594 82.6944 41.0737 81.6729 41.9467C80.6514 42.8197 79.975 44.0286 79.7654 45.3558L56.6551 189.763C56.5517 190.418 56.5913 191.086 56.7713 191.724C56.9513 192.361 57.2673 192.952 57.6976 193.456C58.1278 193.96 58.6622 194.364 59.2638 194.641C59.8654 194.919 60.5199 195.062 61.1823 195.062H95.353L90.0133 228.507C89.9103 229.161 89.9502 229.83 90.1303 230.467C90.3105 231.104 90.6265 231.695 91.0568 232.198C91.487 232.702 92.0212 233.106 92.6227 233.383C93.2241 233.66 93.8784 233.804 94.5406 233.804H122.377C123.72 233.804 124.918 233.324 125.939 232.451C126.961 231.578 127.127 230.369 127.336 229.042L135.506 180.965C135.715 179.638 136.391 177.918 137.413 177.044C138.434 176.171 139.326 175.691 140.67 175.69H157.705C185.013 175.69 208.185 156.28 212.421 129.283C215.418 110.118 207.202 92.6834 190.709 84.0373Z"
                fill="#001C64"
              ></path>
              <path
                d="M102.745 141.81L94.2348 195.776L88.8951 229.629C88.792 230.283 88.8319 230.952 89.0121 231.589C89.1922 232.227 89.5083 232.817 89.9385 233.321C90.3688 233.824 90.903 234.228 91.5044 234.505C92.1058 234.783 92.7601 234.926 93.4223 234.926H122.881C124.225 234.926 125.524 234.446 126.546 233.573C127.567 232.7 128.244 231.491 128.453 230.164L136.215 180.964C136.424 179.637 137.1 178.427 138.122 177.554C139.143 176.681 140.443 176.2 141.787 176.2H159.129C186.437 176.2 209.608 156.279 213.844 129.282C216.848 110.119 207.202 92.6847 190.709 84.0387C190.669 86.0796 190.49 88.1155 190.174 90.1322C185.94 117.127 162.765 137.05 135.459 137.05H108.318C106.974 137.05 105.674 137.53 104.653 138.403C103.631 139.276 102.955 140.483 102.745 141.81Z"
                fill="#0070E0"
              ></path>
              <path
                d="M94.2305 195.776H59.9576C59.2953 195.776 58.6408 195.633 58.0392 195.356C57.4376 195.079 56.9032 194.675 56.4729 194.171C56.0426 193.668 55.7265 193.077 55.5466 192.44C55.3666 191.802 55.3269 191.133 55.4304 190.479L78.5407 43.927C78.7503 42.5998 79.4267 41.3909 80.4482 40.5179C81.4697 39.645 82.7692 39.1652 84.1129 39.165H143.017C170.903 39.165 191.183 59.4588 190.709 84.0384C183.77 80.4003 175.618 78.3172 166.685 78.3172H117.576C116.231 78.3175 114.932 78.7976 113.91 79.671C112.889 80.5444 112.212 81.7538 112.003 83.0815L102.75 141.81L94.2305 195.776Z"
                fill="#003087"
              ></path>
            </svg>
          </div>
        </div>
        <button class="pp-modal-closer" aria-label="Schließen" type="button" id="close-btn">
          <svg
            class="pp-modal__close-btn"
            viewBox="0 0 36 36"
            fill="none"
          >
            <path
              d="M12 0L0 12"
              transform="translate(12 12)"
              stroke="#2C2E2F"
              stroke-width="2"
              stroke-linecap="round"
            ></path>
            <path
              d="M0 0L12 12"
              transform="translate(12 12)"
              stroke="#2C2E2F"
              stroke-width="2"
              stroke-linecap="round"
            ></path>
          </svg>
        </button>
      </div>
      <div class="pp-modal__header-content">
        <svg
          aria-hidden="true"
          width="338"
          height="145"
          viewBox="0 0 338 145"
          fill="none"
          class="pp-modal__header-bg-desktop"
        >
          <g clip-path="url(#clip0_793_723)"><path d="M568.155 313.122C574.483 454.46 471.924 583.98 337.392 605.873C288.823 613.775 241.399 611.34 192.448 612.319C161.191 612.939 156.081 620.341 151.425 643.595C136.644 717.367 127.833 792.238 116.013 866.56C111.237 890.435 114.198 929.828 80.5053 930.091C28.1952 930.218 -24.1148 930.218 -76.4249 930.091C-79.9206 930.166 -83.3901 929.472 -86.5882 928.059C-89.7864 926.646 -92.6351 924.548 -94.9332 921.913C-97.2313 919.278 -98.9228 916.171 -99.8879 912.811C-100.853 909.451 -101.068 905.92 -100.518 902.467C-97.8679 885.349 -71.6492 719.11 -71.6492 719.11L-25.229 425.094C-25.229 425.094 20.403 136.401 22.5282 123.7C25.1071 107.967 35.9956 98.4883 51.8748 97.581C138.793 97.3662 225.687 97.4618 312.606 97.3901C355.778 97.3901 400.957 102.38 442.195 122.721C513.544 155.477 563.976 229.894 568.179 308.347L568.155 313.122Z" fill="#FFD140"></path><path d="M605.816 157.363C610.059 252.157 541.297 339.025 451.099 353.709C418.535 359.009 386.739 357.376 353.92 358.032C332.963 358.448 329.537 363.413 326.415 379.009C316.505 428.487 310.597 478.703 302.673 528.55C299.471 544.562 301.456 570.983 278.866 571.159C243.794 571.245 208.723 571.245 173.651 571.159C171.307 571.209 168.981 570.744 166.837 569.797C164.692 568.849 162.782 567.442 161.242 565.675C159.701 563.908 158.567 561.824 157.92 559.57C157.273 557.316 157.128 554.948 157.497 552.633C159.274 541.152 176.853 429.656 176.853 429.656L207.976 232.462C207.976 232.462 238.57 38.8382 239.995 30.3196C241.724 19.7673 249.024 13.4103 259.671 12.8019C317.946 12.6577 376.205 12.7219 434.48 12.6738C463.426 12.6738 493.716 16.0204 521.365 29.6631C569.202 51.6323 603.014 101.543 605.832 154.161L605.816 157.363Z" fill="#0070E0"></path><mask id="mask0_793_723" maskUnits="userSpaceOnUse" x="-128" y="97" width="901" height="1121"><path d="M771.971 387.656C780.483 577.825 642.514 752.094 461.532 781.551C396.193 792.184 332.397 788.907 266.544 790.224C224.495 791.059 217.621 801.018 211.357 832.306C191.472 931.567 179.619 1032.3 163.718 1132.3C157.293 1164.43 161.276 1217.43 115.951 1217.78C45.5795 1217.96 -24.7917 1217.96 -95.1628 1217.78C-99.8655 1217.89 -104.533 1216.95 -108.835 1215.05C-113.138 1213.15 -116.97 1210.33 -120.061 1206.78C-123.153 1203.24 -125.429 1199.06 -126.727 1194.54C-128.025 1190.01 -128.315 1185.26 -127.575 1180.62C-124.009 1157.59 -88.7382 933.911 -88.7382 933.911L-26.2905 538.314C-26.2905 538.314 35.0969 149.879 37.9558 132.79C41.4251 111.621 56.073 98.8677 77.435 97.647C194.363 97.3579 311.26 97.4865 428.188 97.3901C486.267 97.3901 547.044 104.104 602.521 131.473C698.505 175.546 766.349 275.674 772.003 381.231L771.971 387.656Z" fill="#FFD140"></path></mask><g mask="url(#mask0_793_723)"><path d="M600.432 197.172C604.675 291.968 535.906 378.837 445.698 393.521C413.131 398.821 381.332 397.187 348.509 397.844C327.55 398.26 324.123 403.224 321.001 418.821C311.09 468.3 305.182 518.516 297.256 568.364C294.054 584.376 296.039 610.797 273.447 610.974C238.372 611.059 203.296 611.059 168.22 610.974C165.876 611.024 163.55 610.559 161.406 609.611C159.261 608.663 157.351 607.256 155.81 605.489C154.269 603.722 153.135 601.638 152.488 599.384C151.841 597.131 151.696 594.762 152.065 592.447C153.842 580.966 171.423 469.469 171.423 469.469L202.549 272.272C202.549 272.272 233.147 78.6462 234.572 70.1274C236.301 59.575 243.602 53.218 254.25 52.6095C312.531 52.4654 370.797 52.5295 429.078 52.4814C458.027 52.4814 488.32 55.8281 515.972 69.4709C563.814 91.4404 597.63 141.352 600.448 193.97L600.432 197.172Z" fill="#003087"></path></g></g><defs><clipPath id="clip0_793_723"><rect width="466" height="145" fill="white"></rect></clipPath></defs>
        </svg>
        <svg
          aria-hidden="true"
          width="272"
          height="217"
          viewBox="0 0 272 217"
          fill="none"
          class="pp-modal__header-bg-mobile"
        >
          <g clip-path="url(#clip0_793_755)"><path d="M567.97 384.694C574.298 526.032 471.739 655.552 337.207 677.445C288.638 685.348 241.215 682.913 192.264 683.891C161.007 684.512 155.897 691.914 151.24 715.167C136.46 788.94 127.648 863.811 115.828 938.133C111.053 962.007 114.013 1001.4 80.3207 1001.66C28.0106 1001.79 -24.2994 1001.79 -76.6095 1001.66C-80.1052 1001.74 -83.5746 1001.04 -86.7728 999.632C-89.971 998.219 -92.8197 996.121 -95.1178 993.486C-97.4159 990.851 -99.1074 987.744 -100.072 984.384C-101.038 981.024 -101.253 977.493 -100.703 974.04C-98.0524 956.922 -71.8338 790.683 -71.8338 790.683L-25.4136 496.667C-25.4136 496.667 20.2184 207.974 22.3436 195.273C24.9225 179.539 35.811 170.061 51.6903 169.154C138.608 168.939 225.503 169.035 312.421 168.963C355.594 168.963 400.772 173.953 442.01 194.294C513.36 227.05 563.791 301.467 567.994 379.919L567.97 384.694Z" fill="#FFD140"></path><path d="M680.217 223.547C685.388 339.084 601.58 444.96 491.645 462.856C451.956 469.316 413.203 467.325 373.202 468.126C347.66 468.633 343.484 474.683 339.679 493.692C327.601 553.997 320.4 615.2 310.741 675.955C306.839 695.471 309.258 727.673 281.726 727.888C238.98 727.992 196.234 727.992 153.488 727.888C150.631 727.949 147.796 727.382 145.183 726.227C142.569 725.072 140.241 723.357 138.363 721.203C136.485 719.049 135.103 716.509 134.315 713.763C133.526 711.016 133.35 708.129 133.799 705.307C135.965 691.314 157.39 555.422 157.39 555.422L195.323 315.079C195.323 315.079 232.612 79.0878 234.349 68.7051C236.456 55.8439 245.354 48.0959 258.33 47.3543C329.357 47.1786 400.364 47.2568 471.39 47.1982C506.67 47.1982 543.588 51.2771 577.287 67.905C635.591 94.6814 676.802 155.514 680.236 219.644L680.217 223.547Z" fill="#0070E0"></path><mask id="mask0_793_755" maskUnits="userSpaceOnUse" x="-137" y="168" width="902" height="1122"><path d="M763.786 459.18C772.299 649.35 634.329 823.618 453.347 853.075C388.009 863.708 324.212 860.431 258.36 861.748C216.31 862.584 209.436 872.542 203.172 903.83C183.288 1003.09 171.434 1103.83 155.533 1203.83C149.109 1235.95 153.092 1288.96 107.766 1289.31C37.3949 1289.48 -32.9762 1289.48 -103.347 1289.31C-108.05 1289.41 -112.717 1288.48 -117.02 1286.58C-121.322 1284.67 -125.154 1281.85 -128.246 1278.31C-131.338 1274.76 -133.613 1270.58 -134.911 1266.06C-136.21 1261.54 -136.499 1256.79 -135.76 1252.14C-132.194 1229.11 -96.9228 1005.44 -96.9228 1005.44L-34.4751 609.838C-34.4751 609.838 26.9123 221.404 29.7713 204.314C33.2406 183.145 47.8885 170.392 69.2504 169.171C186.179 168.882 303.075 169.011 420.004 168.915C478.082 168.915 538.859 175.628 594.336 202.997C690.32 247.07 758.164 347.198 763.818 452.755L763.786 459.18Z" fill="#FFD140"></path></mask><g mask="url(#mask0_793_755)"><path d="M593.248 238.697C597.491 333.492 528.722 420.361 438.513 435.045C405.946 440.345 374.147 438.712 341.324 439.368C320.365 439.785 316.939 444.749 313.817 460.345C303.906 509.825 297.997 560.04 290.072 609.888C286.869 625.901 288.855 652.322 266.263 652.498C231.187 652.583 196.111 652.583 161.036 652.498C158.692 652.548 156.365 652.083 154.221 651.135C152.076 650.188 150.166 648.781 148.625 647.013C147.084 645.246 145.95 643.162 145.303 640.909C144.656 638.655 144.512 636.287 144.88 633.971C146.658 622.49 164.238 510.994 164.238 510.994L195.364 313.797C195.364 313.797 225.962 120.171 227.387 111.652C229.116 101.099 236.417 94.7424 247.065 94.1339C305.346 93.9898 363.612 94.0539 421.894 94.0059C450.842 94.0059 481.136 97.3525 508.787 110.995C556.629 132.965 590.446 182.877 593.264 235.494L593.248 238.697Z" fill="#003087"></path></g></g><defs><clipPath id="clip0_793_755"><rect width="466" height="217" fill="white"></rect></clipPath></defs>
        </svg>
        <h2 class="pp-modal__heading">
          Jetzt kaufen, <br>
          später bezahlen
        </h2>
        <p class="pp-modal__subheading"></p>
      </div>

      {% comment %} modal body {% endcomment %}
      <div class="pp-modal__body">
        <div class="pp-modal__row">
          <p class="pp-modal__pay-later">
            Wählen Sie <strong>PayPal</strong>, um <strong>“Später Bezahlen”</strong> zu nutzen.
          </p>

          <button
            class="pp-modal__tile"
            aria-label="Bezahlen Sie nach 30 Tagen Erhalten Sie mehr Zeit, um Ihren Einkauf zu bezahlen."
            type="button"
          >
            <div class="pp-modal__tile-row">
              <div class="pp-modal__tile-header">Bezahlen Sie nach 30 Tagen</div>
              <div class="pp-modal__tile-body">Erhalten Sie mehr Zeit, um Ihren Einkauf zu bezahlen.</div>
            </div>
          </button>

          <button
            class="pp-modal__tile"
            aria-label="PayPal Ratenzahlung Zahlen Sie Ihren Einkauf in monatlichen Raten."
            type="button"
          >
            <div class="pp-modal__tile-row">
              <div class="pp-modal__tile-header">PayPal Ratenzahlung</div>
              <div class="pp-modal__tile-body">Zahlen Sie Ihren Einkauf in monatlichen Raten.</div>
            </div>
          </button>
        </div>
        <div class="pp-modal__row pp-modal__disclosure">
          Es gelten die Nutzungsbedingungen. Vorbehaltlich Kreditwürdigkeitsprüfung. Für weitere Informationen zur
          Bezahlung nach 30 Tagen oder PayPal Ratenzahlung wählen Sie eine der obigen Optionen.
        </div>
      </div>
      {% comment %} modal body {% endcomment %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function (event) {
    let paypalModalContainer = document.getElementById('pp-modal-container');
    let paypalModal = document.getElementById("pp-modal");
    let logoWrapper = document.querySelector(".pp-modal__logo-wrapper");

    function openModal(e) {
      paypalModalContainer.classList.add('opened');
      document.querySelector('safe-sticky.product-info').classList.add('z-index11');
    }
    function closeModal(e) {
      paypalModalContainer.classList.remove('opened');
      document.querySelector('safe-sticky.product-info').classList.remove('z-index11');
    }

    // stop event from propagation
    paypalModal.addEventListener('click', function (e) {
      e.stopPropagation();
    });

    //modal opener elements
    let paypalModalOpener = document.getElementById('pp-modal-opener');
    paypalModalOpener.addEventListener('click', openModal);

    //modal closer elements
    paypalModalContainer.addEventListener('click', closeModal);
    document.querySelectorAll('.pp-modal-closer').forEach(function (elem) {
      elem.addEventListener('click', closeModal);
    });

    // paypal logo animation code on scroll
    paypalModal.addEventListener("scroll", function () {
      // Get the current scroll position
      const scrollTop = paypalModal.scrollTop;
    
      // Perform actions when scroll moves away from the top
      if (scrollTop > 0) {
        logoWrapper.classList.add("is-scrolled");
      }
    
      // Perform actions when scroll hits the top
      if (scrollTop === 0) {
        logoWrapper.classList.remove("is-scrolled");
      }
    });
    
  });
</script>
